.chat-container {
    overflow: hidden;
    height: 100%;
}

#chatBox {
    height: 60vh;
    width: 60vw;
    margin: 4px;
    overflow-y: scroll;
    border-radius: 5px;
    background-color: bisque;
    padding-left: 0;
    list-style-type: none;
}

.userJoined, .userLeft, .chatMessage {
    margin: 4px;
}

.userJoined {
   font-style: oblique;
   color: lightslategray;
}

.userLeft {
    font-style: oblique;
    color: lightslategray;
}

.chatMessage {
    border-color: grey;
    background-color: coral;
    border-radius: 6px;
    padding:8px;
}

.chat-input {
    width: 60vw;
}

.chat-input textarea {
    width: 90%;
}

.preserve-formatting {
    white-space: pre-wrap;
    word-wrap: normal;
}

#typingIndicator {
    height: 1.2lh;
}