{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='games/memory_style.css') }}">
{% endblock %}

{%block content%}
    
    <div class="container my-4">
        <h2>Memory Game</h2>
        <button id="generateCards" class="btn btn-success mb-3">Let's Go!</button>
        <div id="cardContainer" class="row g-3"></div>
    </div>


{%endblock%}

{%block scripts%}
<script src="{{ url_for('static', filename='games/memory.js') }}"></script>
{%endblock%}