{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">

<div class="chat-container">
    <h1>Live Chat Room</h1>

    <div class="users-online">
        <span id="userCount">0</span> users online
    </div>

    <ul id="chatBox" class="chat-box">
        <!-- Messages appear here -->
    </ul>

    <div id="typingIndicator" class="typing-indicator"></div>

    <div class="chat-input">
        <input type="text" id="usernameInput" placeholder="Your name" maxlength="20">
        <input type="text" id="messageInput" placeholder="Type a message..." maxlength="500">
        <button id="sendBtn">Send</button>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='chat.js') }}"></script>

{% endblock %}