<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Flask Site</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <div class="row m-2">
            <div class="col-4">
                <p id="somePTag">3</p>
                <button class="btn btn-primary" id="firstButton">Hello!</button>
            </div>
        </div>
    </div>

    <div class="container my-4">
        <h2>My Card Collection</h2>
        <form>
            <input type="text" class="my-3" id="textInput" placeholder="Please enter text...">
        </form>
        <button id="addCard" class="btn btn-success mb-3">Add Card</button>
        <div id="cardContainer" class="row g-3"></div>
    </div>


    <script src="{{ url_for('static', filename='basics.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>